<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-parallax height="400" src="image.jpg">
          <v-row justify="center">
            <v-col class="text-center" cols="12">
              <div id="portfolio-button">
                <v-btn color="warning" dark x-large href="/add-portfolio.html" target="_blank">
                  Add a Portfolio
                </v-btn>
              </div>
              <p id="portfolio-heading" class="text-sm-left text-xl-h4"> CAD <br> Creativity</p>
            </v-col>
          </v-row>
        </v-parallax>

      <v-container id="filters" class="">
        <v-row no-gutters>

            <v-col
              :cols="3"
            >
            <v-select
            class="pr-16"
            :items="items"
            label="Recent"
            outlined
            ></v-select>
            </v-col>

            <v-col
            :cols="6"
            >
            <v-text-field
            outlined
            label="Search"
            ></v-text-field>
            </v-col>

            <v-col
            :cols="3"
            >
            <v-combobox
            class="pl-16"
            prepend-icon="mdi-filter-variant"
            :items="items"
            label="Filters"
            outlined
            >
            <template v-slot:selection="{ attrs, item, select, selected }">
              <v-chip
                v-bind="attrs"
                :input-value="selected"
                close
                @click="select"
                @click:close="remove(item)"
                
              >
                <strong>{{ item }}</strong>&nbsp;
                <span>(interest)</span>
              </v-chip>
            </template>
            </v-combobox>
            </v-col>
        </v-container>

        <v-container id="card-grid">
            <v-row >
                <template v-for="n in 9">
                <v-col :key="n">
                  <v-card class="card" v-if="n == 1">
                    <a class="cardLink" href="">
                  <v-img class="rounded-xl white--text align-end" height="200px" src="ritOrange.JPG"></v-img>                             
                    <v-card-text class="text--primary">
                      <div class="name"><b>Person McLastname</b></div>
                      <div class="major">New Media Interactive Development | Class of 2021</div>
                    </v-card-text>
                  </a>
                  </v-card>

                  <v-card class="card" v-if="n == 2">
                    <a class="cardLink" href="">
                    <v-img class="rounded-xl white--text align-end" height="200px" src="ritOrange.JPG"></v-img>                             
                      <v-card-text class="text--primary">
                        <div class="name"><b>Person McLastname</b></div>
                        <div class="major">New Media Design | Class of 2021</div>
                      </v-card-text>
                    </a>
                  </v-card>
           
                  <v-card class="card" v-if="n == 3">
                    <a class="cardLink" href="">
                    <v-img class="rounded-xl white--text align-end" height="200px" src="ritOrange.JPG"></v-img>                             
                      <v-card-text class="text--primary">
                        <div class="name"><b>Person McLastname</b></div>
                        <div class="major">New Media Interactive Development | Class of 2024</div>
                      </v-card-text>
                    </a>
                  </v-card>
                    
                  <v-card class="card" v-if="n == 4">
                    <a class="cardLink" href="">
                    <v-img class="rounded-xl white--text align-end" height="200px" src="ritOrange.JPG"></v-img>                             
                      <v-card-text class="text--primary">
                        <div class="name"><b>Person McLastname</b></div>
                        <div class="major">Graphic Design | Class of 2022</div>
                      </v-card-text>
                    </a>
                  </v-card>

                  <v-card class="card" v-if="n == 5">
                    <a class="cardLink" href="">
                    <v-img class="rounded-xl white--text align-end" height="200px" src="ritOrange.JPG"></v-img>                             
                      <v-card-text class="text--primary">
                        <div class="name"><b>Person McLastname</b></div>
                        <div class="major">Film and Animation | Class of 2022</div>
                      </v-card-text>
                    </a>
                  </v-card>
           
                  <v-card class="card" v-if="n == 6">
                    <a class="cardLink" href="">
                    <v-img class="rounded-xl white--text align-end" height="200px" src="ritOrange.JPG"></v-img>                             
                      <v-card-text class="text--primary">
                        <div class="name"><b>Person McLastname</b></div>
                        <div class="major">Film and Animation | Class of 2023</div>
                      </v-card-text>
                    </a>
                  </v-card>

                  <v-card class="card" v-if="n == 7">
                    <a class="cardLink" href="">
                    <v-img class="rounded-xl white--text align-end" height="200px" src="ritOrange.JPG"></v-img>                             
                      <v-card-text class="text--primary">
                        <div class="name"><b>Person McLastname</b></div>
                        <div class="major">New Media Interactive Development | Class of 2021</div>
                      </v-card-text>
                    </a>
                  </v-card>

                  <v-card class="card" v-if="n == 8">
                    <a class="cardLink" href="">
                    <v-img class="rounded-xl white--text align-end" height="200px" src="ritOrange.JPG"></v-img>                             
                      <v-card-text class="text--primary">
                        <div class="name"><b>Person McLastname</b></div>
                        <div class="major">Graphic Design | Class of 2022</div>
                      </v-card-text>
                    </a>
                  </v-card>
           
                  <v-card class="card" v-if="n == 9">
                    <a class="cardLink" href="">
                    <v-img class="rounded-xl white--text align-end" height="200px" src="ritOrange.JPG"></v-img>                             
                      <v-card-text class="text--primary">
                        <div class="name"><b>Person McLastname</b></div>
                        <div class="major">3D Digital Design | Class of 2023</div>
                      </v-card-text>
                    </a>
                  </v-card>


                 <v-responsive
                    v-if="n === 9"
                    :key="`width-${n}`"
                    width="100%"
                ></v-responsive>
                </v-col>
                </template>      
            </v-row>
        </v-container>

      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: () => ({

filter: [
    'Recent',
    'Oldest',
    'Year 1',
    'Year 2',
    'Year 3',
    'Year 4+',
    'Graduate',
]


})
    })
  </script>
</body>
</html>
