
@media (min-width:1920) and (max-width: 2600px) { 

    div .col .v-card{
        max-width: 570px;
    }
 }
 @media (min-width: 1051px) and (max-width: 1919px){ 

    div .col .v-card{
        max-width: 480px;
    }
 }
 @media (min-width: 1020px) and (max-width: 1250px){ 

    div .col .v-card{
        max-width: 420px;
    }
 }
 @media (min-width: 840px) and (max-width: 1019px){ 

    div .col .v-card{
        max-width: 360px;
    }
 }

 @media (max-width: 768px) { 

    div .col .v-card{
        max-width: 320px;
    }
 }

 .v-card{
    max-width: 570px;
}