
@media (min-width:1920) and (max-width: 2600px) { 

    div .col .v-card{
        max-width: 570px;
    }
 }
 @media (min-width: 1051px) and (max-width: 1919px){ 

    div .col .v-card{
        max-width: 480px;
    }
 }
 @media (min-width: 1020px) and (max-width: 1250px){ 

    div .col .v-card{
        max-width: 420px;
    }
 }
 @media (min-width: 840px) and (max-width: 1019px){ 

    div .col .v-card{
        max-width: 360px;
    }
 }

 @media (max-width: 768px) { 

    div .col .v-card{
        max-width: 320px;
    }
 }

 .v-card{
    max-width: 570px;
}

.name {
    font-size: 20px;
    margin-bottom: .5em;
}

.major {
    color: gray;
}

.text--primary {
    margin: .5em;
    border: none;
}

.cardLink {
    text-decoration: none;
}

.card {
    transition: transform .2s; /* Animation */
}

.card:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

.v-sheet {
    box-shadow: none !important;
}

#portfolio-button{
    
position: absolute;
bottom: 0;
right: 0;
margin-bottom: 20px;
margin-right:4vw;
}

#portfolio-heading{
    font-size: 6em!important;
    line-height: 1em;
    margin-left: 3vw;
    font-family: Helvetica; 
    font-style: normal; 
    font-weight: bold;
    margin-top: 50px;
}
#form-heading{
    margin-left:11.5vw;
}
#card-grid{
    -webkit-transform: scale(0.87);
       -moz-transform: scale(0.87);
            transform: scale(0.87);
            margin-top: -50px;
}
#add-form{
    -webkit-transform: scale(0.87);
       -moz-transform: scale(0.87);
            transform: scale(0.87);
            margin-top: -50px;
}

#filters{
    margin-top: 40px;
}
#forms{
    margin-top: 40px;
}

.theme--light.v-chip:not(.v-chip--active) {
    background: #F76902;
}
